<h1><%= @election.name %></h1>

<% if @election.election_type.option == 'party' %>
  <table>
    <thead>
      <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Short Name</th>
        <th>Alliance</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @election.parties.each do |party| %>
        <tr>
          <td>-</td>
          <td><%= party.nil? ? 'PARTİ YOK' : party.name%></td>
          <td><%= party.short_name %></td>
          <td><%= party.exists? ? (party.alliance.name if party.alliance.present?) : 'PARTİ YOK' %></td>
          <td><%= link_to 'Edit', edit_admin_party_path(party) %></td>
          <td><%= link_to 'Destroy', admin_party_path(party), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <br>
  <%= link_to 'Add party', new_admin_party_path %>
  <br>
  <br>
  <%= link_to 'Add Votes' , admin_election_add_votes_path(@election) %>

<br>
  <% @boxes.each do |box| %>
    <% next if box_votes(box).size < 1 %>
    <%= box.name %> 
    <% box_votes(box).each do |vote| %>
      <%= vote.party.name %> : <%= vote.vote_count %>  ||
    <% end %>
    <%= link_to 'Delete', admin_election_delete_votes_path(@election, box) %>
    <br>
  <% end %>
  <br/>

<% elsif @election.election_type.option == 'candidate' %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Photo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @election.candidates.each do |candidate| %>
        <tr>
          <td><%= candidate.name %></td>
          <td><%= image_tag candidate.photo.icon %></td>
          <td><%= link_to 'Show', candidate %></td>
          <td><%= link_to 'Edit', edit_admin_candidate_path(candidate) %></td>
          <td><%= link_to 'Destroy', admin_candidate_path(candidate), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add candidate', new_admin_candidate_path %>
  <br>
  <br>
    <%= link_to 'Add Votes' , admin_election_add_votes_path(@election) %>

<% end %>

<br>
<br>

<%= link_to 'Homepage', admin_root_path %>