<%= form_with(model: box, local: true) do |form| %>
  <% if box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :no %>
    <%= form.number_field :no, id: :box_no %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :box_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
