<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @box.no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @box.name %>
</p>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
