<%= form_with(model: election, local: true) do |form| %>
  <% if election.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(election.errors.count, "error") %> prohibited this election from being saved:</h2>

      <ul>
      <% election.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :election_name %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :election_year %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :election_active %>
  </div>

  <div class="field">
    <%= form.label :publishable %>
    <%= form.check_box :publishable, id: :election_publishable %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
