<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @election.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @election.year %>
</p>

<p>
  <strong>Active:</strong>
  <%= @election.active %>
</p>

<p>
  <strong>Publishable:</strong>
  <%= @election.publishable %>
</p>

<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
