<p id="notice"><%= notice %></p>

<p>
  <strong>Election:</strong>
  <%= @candidate.election %>
</p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @candidate.photo %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
